<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="SelectById_integral" resultType="int">
        select integral from user where id = #{user_id};
    </select>
    <update id="Update_integral" >
        update user set integral = #{current_integral} where id = #{user_id};
    </update>
</mapper>